.user {
    height: 400px;
    width: 100%;
    position: relative;
    top: 120px;
    padding: 0.5em;
    background-color: #a6f44b;
    background-image: url("../images/black-orchid.png");
    color: #242424;
}

div {
    margin: auto;
    position: relative;
    width: 50%;
    text-align: center;
}