.tweet {
    width: 90%;
    border: solid 3px;
    position: relative;
    margin: 1em auto;
    padding: 0.5em;
    bottom: 0.75em;
}

.tweet:hover {
    border: solid 5px;
    box-shadow: 5px 5px #8a8a8a;
    font-size: 105%;
}

.tweet:hover .hide {
    visibility: visible;
}

figure {
    margin: 0;
    padding: 0;
    font-size: 90%;
}

figure img {
    vertical-align: middle;  
}

aside {
    float: right;
    font-size: 90%;
}

.hide {
    visibility: hidden;
}

footer {
    padding-top: 0.75em;
    border-top: solid 2px;
}

footer img {
    float: right;
}