.tweet {
    width: 90%;
    border: solid 3px;
    position: relative;
    margin: 1em auto;
    padding: 0.5em;
    bottom: 0.75em;
}

.tweet:hover {
    border: solid 5px;
    box-shadow: 5px 5px #8a8a8a;
    font-size: 105%;
}

.tweet:hover .hide {
    visibility: visible;
}

figure {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    font-size: 80%;
}

figure img {
    vertical-align: middle;  
}

aside {
    float: right;
    font-size: 90%;
}

.hide {
    visibility: hidden;
}

footer {
    padding-top: 0.75em;
    border-top: solid 2px;
    font-size: 75%;
}

footer img {
    float: right;
}

@media screen and (min-width: 1024px) {
    aside {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
    }

    .tweet {
        width: 100%;
        margin: 0.25em auto;
    }
}